body {
   background-color: #fbfbfb !important;
   color: #0d596a;

}

h1 {
   font-weight: 400 !important;
   text-align: left;
}

main {
   display: flex;
}

.form-search {
   color: #165b7e !important;
}

.header-text {
   text-align: left;
   position: left;
   margin-top: 20px !important;
}

.page-headerschedule {
   background: linear-gradient(#043541, #bbd1d69f), url(schedulesearch.jpeg) center center no-repeat;
   background-size: cover;
   object-fit: cover !important;
   padding-top: 20px !important;
}

.my-schedule {
   font-weight: bold !important;
   color: #0d596a !important;
   margin-top: -33px !important;
   margin-left: -35px !important;
   padding-bottom: 30px !important;
   font-style: oblique !important;

}


.nav-item .nav-link {

   color: #fbfbfb !important;

}

.nav {
   background-color: #0d596a !important;
   border-radius: 7px !important;
}

.nav-tabs .nav-item .nav-link.active {
   color: #0d596a !important;
   font-weight: 500 !important;
}

.nav-tabs .nav-item .nav-link.disabled {
   color: #dadada !important;
}


.border-bottom {

   margin-top: 10px !important;
   margin-bottom: 10px !important;

}

.btn-primary {

   background-color: #0d596a !important;
   width: 100% !important;
   height: 45px !important;
}

.cargock {
   margin-left: 20px !important;
   font-size: medium !important;
}

a{ 
   font-weight: 500;
}

#leftdiv {
   width: 30%;
   float: left;
   border: 1px solid rgb(197, 197, 197);
   border-radius: 5px;
   margin-top: 12px;
}

#rightdiv {
   width: 67%;
   float: left;
   padding: 15px !important;
   padding-top: 40px !important;
   margin-top: 30px;


}

/* overlay*/

/* The overlay effect - lays on top of the container and over the image */
.overlay {
   position: absolute;
   bottom: 0;
   background: #0d596a;
   background: #0d596ad2;
   color: #fbfbfb;
   width: 50%;
   height: 30px;
   transition: .5s ease;
   opacity: 0;
   padding: 5px;
   text-align: center;
   font-weight: 500;
   font-size: medium;
   border-radius: 45px;
   margin-left: 25%;
}


/* overlay*/

#map-img-cont {

   position: relative;
   width: 100%;
   max-width: 800px;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
   opacity: 1;
}


/* 000000000 */



#capform {
   caption-side: top !important;
   color: #0d596a !important;
   font-weight: 600 !important;
   font-size: x-large;
   font-style: oblique;
   margin-bottom: -100px;

}


#nbdays label {
   color: #0d596a !important;
   font-weight: 500 !important;
   font-size: x-large;

}

#nbdays {
   float: right;
   margin-top: 15px;
}

#calculatorform {
   width: 75%;
   margin: 20px !important;
   margin-top: 200px;
   padding: 20px;

}










/* table style */


.tbcont {
   margin-left: 30px !important;
   margin-top: 30px;
   position: relative;
   width: 100%;
   max-width: 1000px;
}

.table caption {
   caption-side: top !important;
   color: #0d596a !important;
   font-weight: 600 !important;
   font-size: large;
   font-style: oblique;
   margin-bottom: 20px;
   margin: 10px;
}


.tbstrp {
   background-color: #63a5b41e !important;
   border-radius: 10px !important;
   box-shadow: -1px 3px 6px rgb(214, 214, 214);
   color: #0d596a !important;
   width: 900px;
   height: 180px;


}

.tbstrp .trhvr:hover,
.tbstrp .trhvr:focus,
.tbstrp .trhvr:active {
   background-color: #0d596ad2 !important;
   border-radius: 10px !important;
   color: #fbfbfb !important;
   font-weight: 500 !important;
   cursor: pointer !important;

}

.table-hover tbody .trhvr:hover td,
.table-hover tbody .trhvr:hover th {
   color: #fbfbfb;
   cursor: pointer !important;
}

.tbstrp .disHR:hover,
.tbstrp .disHR:focus,
.tbstrp .disHR:active {
   box-shadow: none !important;
   color: #0d596a !important;
   cursor: default !important;

}

.table-hover tbody .disHR:hover td,
.table-hover tbody .disHR:hover th {
   box-shadow: none !important;
   color: #0d596a !important;
   cursor: default !important;
}

.table-hover tbody .disH,
.table-hover tbody .disH:hover,
.table-hover tbody tr .disH,
.table-hover tbody tr .disH:hover {
   box-shadow: none !important;
   cursor: default !important;
   color: #0d596a !important;
}

/* .table-hover tbody .disH:hover {
   box-shadow: none !important;
   color: #0d596a !important;
   cursor: default !important;
}

.table-hover tbody tr .disH {
   box-shadow: none !important;
   color: #0d596a !important;
   cursor: default !important;
}

.table-hover tbody tr .disH:hover {
   box-shadow: none !important;
   color: #0d596a !important;
   cursor: default !important;
} */


table,
th,
tr,
td,
caption {
   vertical-align: bottom;
   text-align-last: left;
   text-align: left;

}

/* tr {
   padding-right: 5px;
   margin-left: 5px;
}  */

table,
.tr-br {
   text-align: left !important;
   border-collapse: collapse;
   margin-top: -10px;
   border-radius: 7px !important;
   border-bottom: 2px solid #0d596ad2 !important;
}

.trf {
   height: 24%;
   font-size: 17;
}

.trh {
   font-size: 15 !important;
   font-weight: 550 !important;
}

.trm {
   margin-top: -10px !important;
   height: 13%;
   font-size: 15;
}